<!DOCTYPE html>
<html>
<head>
	<title>media player with overlaying gifs</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">

	<!-- bower css -->
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- bower scripts -->
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

	<!-- controllers -->
	<script type="text/javascript" src="app/home/home.controller.js"></script>

	<!-- services -->
	<script type="text/javascript" src="app/home/home.service.js"></script>

	<!-- assets -->
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="app/home/home.css">

</head>
<body ng-app="mediaPlayer" ng-controller="mediaPlayerCtrl" class="container-fluid">
	
	<header class="row">
		Media Player With Overlaying Gifs
	</header>

	<!-- <div class="row" >
		<img id="image" src="uploads/gif/test.png" ondrag="resize(event)">
	</div> -->

	<div class="row">
		<div class="col-md-9 playerContainer">
			<div class="row">

			<form ng-submit="downloadVideo()">
				<div class="col-md-10">
					<input type="text" ng-model="videoUrl" class="form-control">
				</div>
				<div class="col-md-2">
					<input type="submit" value="SUBMIT" class="form-control">
				</div>
			</form>
			</div>


			<div ng-if="showContent" class="row">
				<div class="col-md-12">
				<div ng-if="!videoAvailable">
					Downloading please wait ...
				</div>

				<div ng-if="videoAvailable">
					Downloaded
				</div>

				<div ng-if="videoAvailable">
					<div id="playerContainer">
					 <!-- ng-mousemove="updateDrag()" ng-mouseup="updateDrag()" ng-mousedown="updateDrag()"> -->
						<img  src="uploads/gif/gif1.gif" class="video_overlays" id="gifone" ng-if="toggle1"  ondrag="myFunctionOne(event,'gifone')" onmouseenter="setCursorStyle('gifone')">
						
						<img  src="uploads/gif/gif2.gif" class="video_overlays" id="giftwo" ng-if="toggle2" ondrag="myFunctionOne(event,'giftwo')" onmouseenter="setCursorStyle('giftwo')">
						
						<img  src="uploads/gif/gif3.gif" class="video_overlays" id="gifthree" ng-if="toggle3" ondrag="myFunctionOne(event,'gifthree')" onmouseenter="setCursorStyle('gifthree')">
						
						<video controls autoplay="true" id="video">
	  						<source ng-src="/uploads/video/{{fileName}}" type="video/mp4">
						</video>
					</div>
				</div>
				</div>
			</div>

		</div>

		<div class="col-md-3 gifSelector">
			<div class="row">
				<img class="img-responsive"  src="uploads/gif/gif1.gif" ng-click="toggleOne()">
			</div>

			<div class="row">
				<img class="img-responsive" src="uploads/gif/gif2.gif" ng-click="toggleTwo()" draggable="true" >
			</div>

			<div class="row">
				<img class="img-responsive" src="uploads/gif/gif3.gif" ng-click="toggleThree()">
			</div>
		</div>
	</div>
</body>

</html>