body{
	padding-bottom: 100px;
	background: linear-gradient(#466852,black);
	color: white;
}
header{
	padding: 20px 0;
	font-size: 20px;
	background: linear-gradient(black,#466852);
	color: white;
	text-align: center;
	margin-bottom: 10px;
	/*text-shadow: 1px 1px #a3aa4c;*/
	font-family: avenir;
}

#video{
	width: 1000px;
	height: 565px;
}

#playerContainer{
	position: relative;
}

.video_overlays {
    position:absolute;
    z-index:300000;
    top:0px;
    left:0px;
    opacity: 0.9;
}

img{
	border: 2px red solid;
}

.gifSelector img{
	margin: 5px 0;
}

@media(max-width: 768px){
	#video{
		width: 100%;
		height: 400px;
	}
}